{% extends 'base.html'%}
{% block content %}

<div class ="row">

    <h3 class="header-color">Categories</h3>
    <ul class="collapsible" data-collapsible="accordion">
        <li>
            <div class="collapsible-header">
                <a href="{{url_for('hot')}}" class="waves-effect waves-light btn btn_small">View</a>
                <div class="recipe_header col s9">
                    <strong>Hot</strong>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <a href="{{url_for('cold')}}" class="waves-effect waves-light btn btn_small">View</a>
                <div class="recipe_header col s9">
                    <strong>Cold</strong>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <a href="{{url_for('meat')}}" class="waves-effect waves-light btn btn_small">View</a>
                <div class="recipe_header col s9">
                    <strong>Meat</strong>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <a href="{{url_for('vegetarian')}}" class="waves-effect waves-light btn btn_small">View</a>
                <div class="recipe_header col s9">
                    <strong>Vegetarian</strong>
                </div>
            </div>
        </li>
        <li>
            <div class="collapsible-header">
                <a href="{{url_for('vegan')}}" class="waves-effect waves-light btn btn_small">View</a>
                <div class="recipe_header col s9">
                    <strong>Vegan</strong>
                </div>
            </div>
        </li>
      </ul>
</div>

{% endblock %}