{% extends 'base.html'%}
{% block content %}

<h3>{{recipes.recipe_name}}</h3>
<div class="row">
    <div class="input-field col s12">
        <i class="material-icons prefix">poll</i>
        <label>Recipe Category</label>
        <p>{{recipes.category_name}}</p>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <p>{{recipes.recipe_name}}</p>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <p>{{recipes.recipe_ingredients}}</p>
    </div>
</div>
<div class="row">
    <div class="input-field col s12">
        <p>{{recipes.recipe_method}}</p>
    </div>
</div>


{% endblock %}